.venue {
  background: #eeeeee;
  padding: 1.5em;
  margin: 1em 0;
  border-top: 4px solid #ee5360;
  padding-bottom: 10px;

}

.venue h1 {
  color: #F51124;
  font-size: 36px;
  letter-spacing: -1.50px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F51124;
}

.venue .location, .venue .date {
  text-align: center;
  font-style: italic;
  letter-spacing: 0.5px;
}

.venue blockquote {
  border-left: 4px solid #B9B2B2;
}

.venue .register {
  background-color: #000;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  width: 200px;
}

.venue .register a {
  color: #FFF;
}
